<ngb-carousel >
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../../../assets/images/Image 22.png" class="slide-img" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
		</div>
	</ng-template>
    <ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../../../assets/images/Image 22.png" class="slide-img" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
		</div>
	</ng-template>
    <ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../../../assets/images/Image 22.png" class="slide-img" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
		</div>
	</ng-template>
	
	
	
</ngb-carousel>


