<div class="my-4 me-lg-5">

    <div class="mb-4">

        <small class="mx-2 fw-bold text-muted"> منتجات تصفحتها مؤخرا</small>
    </div>

    <div class="row">
        <div class="col-12 col-lg-12 col-sm-4 my-2" *ngFor="let product of products">
            <div class="card border-0">
                <div class="row p-1">
                    <div class="col-4">
                        <div class="position-relative">
                            <img [src]="product.image" class="img-fluid" alt="">
                            <div class="position-absolute top-0 end-0 translate-middle cursor-pointer"
                            ngbTooltip="اضف للمقارنة">
                            <img src="../../../../assets/images/compare_arrows_black_24dp.png" width="15" alt="">
                        </div>
                        <div class="position-absolute top-0 start-0 translate-middle ">
                            <small *ngIf="product.option=='show'" style="font-size: 9px;"
                                class="badge rounded-pill bg-success">عرض</small>
                            <small *ngIf="product.option=='new'" class="badge rounded-pill main-bg"
                            style="font-size: 9px;">جديد</small>
                        </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <small>{{product.name|maxLength:20}}</small>
                        <br>
                        <span class="k-sec-color text-decoration-line-through fs-6">{{product.oldPrice|currency}}</span>
                        <br>
                        <small>{{product.price|currency}}</small>
                        <div class="d-flex align-items-center justify-content-between mt-2">
                            <div class="">
                                <img src="../../../../assets/images/add_shopping_cart-black-18dp-1.png"
                                    class="image-fluid mx-lg-2" width="15" alt="" srcset="">
                               
                            </div>
                            <div>
                                <img src="../../../../assets/images/Component 2 – 3@2x.png" width="15" class="mx-2"
                                    alt="">
                                <img src="../../../../assets/images/share-24px@2x.png" width="15" class="mx-2" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>