.nav-link.active{
    background-color:#e0dff1 !important;
    color: var(--k-primary) !important;
    font-weight: bold;

}
.nav-link:hover{
    background-color:#e0dff1 !important;
    color: var(--k-primary) !important;
    // font-weight: bold;

}
.nav-link{
    padding: 14px;
}
.dropdown-menu.show{
    border-radius: 0 !important;
}
.dropdown-item:active ,.dropdown-item:focus,.dropdown-item:hover {
    background-color:#e0dff1 !important;


}
input[type="search"]::placeholder {
    color: var(--k-primary) !important;
  }