<div class="container-fluid p-0">
    <div class="row my-2 mx-4">
        <form class="d-flex">
            <img src="../../../../assets/images/Path 224.png" alt="" srcset="" class="image-fluid d-none d-sm-block">
            
              <!-- <div class="position-relative w-100" dir="ltr"> -->
                <input class="form-control me-2 k-bg-light k-color" 
                type="search" placeholder="عم تبحث ؟" aria-label="Search">

                <!-- <img src="../../../../assets/images/compare_arrows_black_24dp-1.png" 
                class="position-absolute top-50 end-0" alt="" srcset="">
              </div> -->
           
            <button class="btn btn-sm k-bg-light mx-2">

                <img src="../../../../assets/images/person-24px.png" alt="" srcset="">
            </button>
            <button class="btn btn-sm k-bg-light mx-2 w-25">

                <img src="../../../../assets/images/shopping_cart-24px.png" alt="" srcset="">
                <span class="px-2 d-none d-sm-inline">سلة التسوق</span>

            </button>
        </form>

    </div>
    <nav class="navbar navbar-expand-lg navbar-light k-bg-light p-md-0 p-2">

        <img src="../../../../assets/images/Path 224.png" alt="" srcset="" class="image-fluid d-block d-sm-none">


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-md-4 justifiy-content-end pe-0">
                <li class="nav-item mx-1" ngbDropdown display="dynamic" placement="bottom-end">
                    <a class="nav-link k-color px-3" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button"> 
                        الاقسام </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu text-end">
                        <a ngbDropdownItem (click)="$event.preventDefault()">رجال</a>
                        <a ngbDropdownItem (click)="$event.preventDefault()">نساء</a>
                        <a ngbDropdownItem (click)="$event.preventDefault()">الكترونيات</a>
                    </div>
                </li>
                <li class="nav-item cursor-pointer mx-1">
                    <a class="nav-link active k-color px-3" aria-current="page">الرئسية</a>
                </li>
                <li class="nav-item cursor-pointer mx-1">
                <a class="nav-link k-color px-3" tabindex="-1" aria-disabled="true">قائمة الامنيات</a>
                </li>
                <li class="nav-item cursor-pointer mx-1">
                <a class="nav-link k-color px-3" tabindex="-1" aria-disabled="true"> تواصل معنا</a>
                </li>
                <li class="nav-item px-2 cursor-pointer mx-1">
                    <a class="nav-link k-color px-3" tabindex="-1" aria-disabled="true"> من نحن</a>
                </li>
                
               
            </ul>

        </div>

    </nav>
</div>