/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body{

    --k-bg-light:#efeef8;
    --k-primary:#302ca2;
    --k-main-bg:#23104e;
    --k-gray:#b7aeca;
    
    .k-bg-light{
        background-color: var(--k-bg-light);
    }
    .k-color{
        color:var(--k-primary) ;
    }
    .k-sec-color{
        color:var(--k-gray) ;
    }
    .main-bg{
        background-color: var(--k-main-bg);
    }
    .sec-bg{

        background-color: var(--k-gray);
    }
    .k-btn-outline-primary{
        border: 2px solid var(--k-primary);
        color: var(--k-primary);
    }
    .k-btn-outline-primary:hover{
        background-color: var(--k-primary);
        color: white;
    }
    .k-btn-primary{
        background-color: var(--k-primary);
    }
    .cursor-pointer{
        cursor: pointer;
    }
 
}