/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body{

    --k-bg:#efeef8;
    --k-color:#302ca2;
    --k-main-bg:#23104e;
    .bg-k{
        background-color: var(--k-bg);
    }
    .color-k{
        color:var(--k-color) ;
    }
    .main-bg{

        background-color: var(--k-main-bg);
    }
}