/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body{

    --k-text-color:#032326;
    --k-sec-color:#23104E;

    --k-bg-light:#efeef8;
    --k-primary:#302ca2;
    --k-gray:#b7aeca;
    
    .k-bg-light{
        background-color: var(--k-bg-light);
    }
    .k-color{
        color:var(--k-primary) ;
    }
    .k-gray{
        color:var(--k-gray) ;
    }
    .k-sec-bg{
        background-color: var(--k-sec-color);
    }
    .k-btn-outline-primary{
        border: 2px solid var(--k-primary);
        color: var(--k-primary);
    }
    .k-btn-outline-primary:hover{
        background-color: var(--k-primary);
        color: white;
    }
    .k-btn-primary{
        background-color: var(--k-primary);
    }
    .cursor-pointer{
        cursor: pointer;
    }
    .text-color{
        color: var(--k-text-color);
    }

    .price-color{
        color: var(--k-sec-color);
    }
 
}